In [7]:
import pandas as pd
import numpy as np

  key1 key2  data1     data2
0    a  one      1  0.219324
1    a  two      0  0.470599
2    b  one      1 -0.180676
3    b  two      1 -0.532451
4    a  one      1  1.678516