In [19]:
import pandas as pd
import numpy as np
import time 

gc.collect()
s = time.time()

dfName = ['user_info_format1','train_format1','user_log_format1']

# path = "C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/tmall/data_format1"
path = "../data_format1"

df1 = pd.read_csv(path+'/%s.csv'%dfName[0],sep=',')
# df2 = pd.read_csv(path+'/%s.csv'%dfName[1],sep=',')
# df3 = pd.read_csv(path+'/%s.csv'%dfName[2],sep=',')

s0 = time.time()
print('read data cost time:',s0-s)

read data cost time: 0.33654046058654785

In [15]:
#  df: dataframe
#  tag: column be search
#  L: list of condiction. if not in L then replace to be R
#  r: the number be replace
#  R: to replace the number which not fit condiction

def fillNull(df, tag, R):
    df[tag] = df[tag].fillna(R)
    df.info()


def replaceNum(df, tag, r, R):
    df[tag] = df[tag].replace(r, R)


def checkCondition(df, tag, L, R):
    df[tag] = np.where(~df[tag].isin(L), R, df[tag])


def dropNull(df, tag_list):
    return df.dropna(subset=tag_list)


def dropDup(df, tag):
    return df.drop_duplicates(tag)

# Main

In [20]:
# 'user_info_format1'

df1=dropNull(df1, ['user_id'])    # drop should be first, that can cut calculate short 
df1=dropDup(df1, ['user_id'])
fillNull(df1,'gender',2)
fillNull(df1,'age_range',0)
replaceNum(df1,"age_range",8,7)
checkCondition(df1,'gender',[0,1,2],2)
df1.drop_duplicates()

s1=time.time()
print('clean %s table cost time:'%dfName[0],s1-s0)


# export data
# df1.to_csv(r'%s-2.csv'%dfName[0],sep=',',index=False,mode='a')
s2=time.time()
print('save %s table to csv as "%s-2.csv" cost time:'%(dfName[0],dfName[0]),s2-s1)

clean user_info_format1 table cost time: 5.7266762256622314
save user_info_format1 table to csv as "user_info_format1-2.csv" cost time: 0.0

In [ ]:
# 'train_format1'

df2=dropNull(df2, ['user_id','merchant_id','label'])
df2=dropDup(df2, ['user_id','merchant_id','label'])
checkCondition(df2, 'label', [0,1], np.nan)    # if label's content is not 1 or 0 , than put it NaN
df2=dropNull(df2, ['label'])    # drop row that we put NaN
df2.drop_duplicates()

s3=time.time()
print('clean %s table cost time:'%dfName[1],s3-s2)


# export data
# df2.to_csv(r'%s-2.csv'%dfName[1],sep=',',index=False,mode='a')
s4=time.time()
print('save %s table to csv as "%s-2.csv" cost time:'%(dfName[1],dfName[1]),s4-s3)

In [16]:
# 'user_log_format1'

df3=dropNull(df3, ['user_id','item_id'])
d3=dropDup(df3, ['user_id','item_id','cat_id','seller_id','brand_id','time_stamp','action_type'])
replaceNum(df3,"cat_id",np.nan,-1)
replaceNum(df3,"seller_id",np.nan,-1)
replaceNum(df3,"brand_id",np.nan,-1)
replaceNum(df3,"time_stamp",np.nan,-1)
replaceNum(df3,"action_type",np.nan,-1)
df3.drop_duplicates()

s5=time.time()
# print('clean %s table cost time:'%dfName[2],s5-s4)


# export data
# df3.to_csv(r'%s-2.csv'%dfName[2],sep=',',index=False,mode='a')
s6=time.time()
print('save %s table to csv as "%s-2.csv" cost time:'%(dfName[2],dfName[2]),s6-s5)

save user_log_format1 table to csv as "user_log_format1-2.csv" cost time: 0.0

In [ ]:
print('total cost time:',time.time()-s)

# to sqlite

In [ ]:
# import sqlite3
# import csv


# with sqlite3.connect("TmallDB") as conn:
# #     c = conn.cursor()
#     df1.to_sql(dfName[0],if_exists=False)
#     df2.to_sql(dfName[1],if_exists=False)
#     df3.to_sql(dfName[2],if_exists=False)

## to MySQL

In [17]:
import pymysql
from sqlalchemy import create_engine
import gc

s = time.time()
(user, pwd, ip, port, db, charset) = ('user01', 'user01', '192.168.31.73', '3306', 'tmall', 'utf8')
engine = create_engine("mysql+pymysql://%s:%s@%s:%s/%s?charset=%s"%(user, pwd, ip, port, db, charset)) 
# engine = create_engine("mysql+pymysql://root:password@localhost:3306/tmall?charset=utf8") 

# df1.to_sql(name = dfName[0]+'_2', con = engine,if_exists = 'replace', index = False, chunksize = 100000)
# s1 = time.time()
# print('insert "%s" to mysql cost time:'%(dfName[0]+'_2'), s1-s)
# df2.to_sql(name = dfName[1]+'_2', con = engine,if_exists = 'replace', index = False, chunksize = 100000)
# s2 = time.time()
# print('insert "%s" to mysql cost time:'%(dfName[1]+'_2'), s2-s1)

# del [[df1,df2]]
# gc.collect()

df3.to_sql(name = dfName[2]+'_2', con = engine,if_exists = 'replace', index = False, chunksize = 50000)
s3 = time.time()
print('insert "%s" to mysql cost time:'%(dfName[2]+'_2'), s3-s)

del [[df3]]
gc.collect()

'''
this is not a good order to write code like this.
because all the df arre stock in memory.
it should write to db after every df cleaned then gc that shit.
'''

insert "user_log_format1_2" to mysql cost time: 2060.9664976596832

'\nthis is not a good order to write code like this.\nbecause all the df arre stock in memory.\nit should write to db after every df cleaned then gc that shit.\n'

In [21]:
import pymysql
from sqlalchemy import create_engine
import gc


def df_to_mysql(df, df_name, user, pwd, ip, port, db, charset, if_exists = 'replace', index = False, chunksize = 50000):
    s = time.time()
    engine = create_engine("mysql+pymysql://%s:%s@%s:%s/%s?charset=%s"%(user, pwd, ip, port, db, charset)) 

    df.to_sql(name =  df_name+'_2', con = engine,if_exists = 'replace', index = False, chunksize = 50000)
    s3 = time.time()
    print('insert "%s" to mysql cost time:'%( df_name+'_2'), time.time()-s)

    del [[df]]
    gc.collect()

    
#     test
df_to_mysql(df1, dfName[0], 'user01', 'user01', '192.168.31.73', '3306', 'tmall', 'utf8')

insert "user_info_format1_2" to mysql cost time: 11.630783081054688